.successful {
  color: green;
  background-color: lightgray;
}

.unsuccessful {
  color: red;
  background-color: lightgray;
}

.remove-btn {
  background-color: #3f85f6;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.blogStyle {
  padding: 10px;
  border: 1px solid black;
  border-width: 1px;
  margin-bottom: 5px;
}
